{% extends "realtimecontrol/header.html" %}

{% block content %}
{% load staticfiles %}

<form id="control">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-lg-6">
			<div>
				<img id="mjpeg_right" src="http://192.168.1.8:80/loading.jpg">
			</div>
     	</div>
	    <div class="col-xs-6 col-sm-6 col-lg-6">
	    	<div>
				<img id="mjpeg_left"  src="http://192.168.1.7:80/loading.jpg">
			</div>
	    </div>
	</div>
	<hr>
	{% if control == 1 %}
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-lg-4">
	    </div>
	    <div class="col-xs-4 col-sm-4 col-lg-4">
	        <button class="btn btn-default" type="button" id="forward">FOREWARD</button>
	    </div>
	    <div class="col-xs-4 col-sm-4 col-lg-4">
	    </div>
	</div>
	<div class="row">
	    <div class="col-xs-4 col-sm-4 col-lg-4">
	    	<button class="btn btn-default" type="button" id="leftturn">LEFT</button>
	    </div>
	    <div class="col-xs-4 col-sm-4 col-lg-4">
	    </div>
	    <div class="col-xs-4 col-sm-4 col-lg-4">
	    	<button class="btn btn-default" type="button" id="rightturn">RIGHT</button>
	    </div>
    </div>
	<div class="row">
	    <div class="col-xs-4 col-sm-4 col-lg-4">
	    </div>
	    <div class="col-xs-4 col-sm-4 col-lg-4">
	    	<button class="btn btn-default" type="button" id="backward">BACKWARD</button>
	    </div>
	    <div class="col-xs-4 col-sm-4 col-lg-4">
	    </div>
	</div>
	{% endif %}
</form>
{% if debug == 1 %}
<textarea id="showmessage" ></textarea>
alpha:<span id="alpha"></span><br/>
beta:<span id="beta"></span><br/>
gamma:<span id="gamma"></span><br/>
x:<span id="x"></span><br/>
y:<span id="y"></span><br/>

current alpha <span id="curralpha">-1000</span><br/>
{% endif %}

{% endblock %}

{% block afterbody %}
    <script type="text/javascript" src='{% static "jquery-1.12.1.min.js" %}'></script>
    <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
    <script type="text/javascript" src='{% static "control.js" %}'></script>
{% endblock afterbody %}
